@font-face {
  font-display: swap;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/montserrat-v29-latin-regular.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/montserrat-v29-latin-500.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/montserrat-v29-latin-600.woff2") format("woff2");
}
:root {
  --clr-black:#000;
  --clr-white:white;
  --clr-green:#299764;
  --clr-black:#000000;
  --clr-gray:#F5F5F5;
  --input-plc-clr:#555555;
  --clr-line:#E5E7EA;
}

.dark {
  background-color: #000;
  --input-plc-clr:white;
  --clr-gray:#272727;
  --clr-black:white;
  --clr-white:#000;
  --clr-green:#299764;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

body {
  font-family: "Montserrat", serif;
  background-color: var(--clr-white);
}

.container {
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 20px;
}

.site-header {
  padding: 18px 0;
  border-bottom: 1.5px solid #626262;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__left-wrapper {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 20px;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: start;
}

.navbar__item {
  position: relative;
}

.navbar__link {
  position: relative;
  margin-top: 0;
  padding: 18px 16px;
  font-size: 18px;
  font-weight: 500;
  line-height: 21.94px;
  color: var(--clr-black);
}

.navbar__item:nth-child(2), .navbar__item:nth-child(3) {
  padding-right: 30px;
  cursor: pointer;
}

.navbar__item:nth-child(2)::before, .navbar__item:nth-child(3)::before {
  content: "";
  background-image: url("../../images/Icon.svg");
  background-repeat: no-repeat;
  background-size: 100%;
  width: 12px;
  height: 8px;
  display: inline-block;
  position: absolute;
  right: 8px;
  top: 0;
  bottom: 0;
  margin: auto 0;
  transition: all 0.3s;
}

.header__right-wrapper {
  display: flex;
  align-items: center;
  justify-content: start;
}

.header__phone-number {
  margin-right: 24px;
  margin-top: 0;
  padding: 18px;
  font-size: 18px;
  font-weight: 600;
  line-height: 21.94px;
  color: var(--clr-black);
}

.header__mode-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 58px;
  height: 58px;
  background-color: #727272;
  border-radius: 50%;
  border: none;
  color: var(--clr-white);
  margin-right: 16px;
}

.header__logout-btn {
  display: flex;
  align-items: center;
  justify-content: start;
  margin-top: 0;
  padding: 18px 30px;
  font-size: 18px;
  font-weight: 500;
  line-height: 21.94px;
  color: #fff;
  font-family: "Montserrat", serif;
  background-color: var(--clr-green);
  border-radius: 100px;
  border: 2px solid transparent;
  gap: 8px;
  transition: all 0.3s;
  cursor: pointer;
}
.header__logout-btn:hover {
  background-color: transparent;
  border-color: var(--clr-green);
  color: var(--clr-green);
}

.popop__wrapper {
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.1490196078);
  padding: 10px;
  opacity: 0;
  height: 0px;
  overflow: hidden;
  border: none;
  margin-top: 10px;
  transition: all 0.3s;
  position: absolute;
  width: 100%;
  background-color: white;
  border-radius: 20px;
  z-index: 9999;
}

.popop__link {
  width: 100%;
  border-radius: 20px;
  display: inline-block;
  padding: 18px 0 18px 16px;
  font-size: 18px;
  font-weight: 500;
  line-height: 21.94px;
  color: black;
  transition: all 0.3s;
}
.popop__link:hover {
  background-color: var(--clr-green);
  color: white;
}

.navbar__item:nth-child(2):hover::before, .navbar__item:nth-child(3):hover::before {
  transform: rotate(180deg);
}

.navbar__item:nth-child(2):hover > .popop__wrapper {
  height: 195px;
  padding: 10px;
  border: 1px solid gray;
  opacity: 1;
}

.navbar__item:nth-child(3):hover > .popop__wrapper {
  height: 138px;
  padding: 10px;
  border: 1px solid gray;
  opacity: 1;
}

.change-btn {
  background-color: #272727;
  color: white;
}

.header__menu-btn {
  display: none;
  margin-left: 16px;
  background-color: transparent;
  border: none;
}

@media (max-width: 1053px) {
  .navbar, .header__phone-number {
    display: none;
  }
  .header__menu-btn {
    display: block;
  }
}
@media (max-width: 834px) {
  .header__mode-btn, .header__logout-btn {
    display: none;
  }
  .site-header {
    padding: 27px 0;
  }
}
.hero-section {
  margin-top: 20px;
}

.swiper {
  width: 100%;
  height: 500px;
  border-radius: 30px;
  position: relative !important;
}

.swiper-slide {
  padding-top: 60px;
  border-radius: 30px;
  background-image: url("../images/hero1.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.swiper-slide:nth-child(2) {
  background-image: url("../images/hero2.png");
}

.swiper-slide:nth-child(3) {
  background-image: url("../images/hero3.png");
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.swiper-pagination-bullet {
  transition: all 0.3s !important;
  background-color: #FFFFFF !important;
  opacity: 50% !important;
  width: 8px !important;
  height: 8px !important;
}

.swiper-pagination-bullet-active {
  opacity: 100% !important;
  width: 30px !important;
  border-radius: 10px !important;
}

.swiper-pagination {
  text-align: start !important;
  transform: translate(40px, -25px) !important;
}

.swiper__content-wrapper {
  max-width: 416px;
  margin: 0 auto;
}

.swiper__title {
  margin-bottom: 10px;
  font-size: 36px;
  font-weight: 600;
  line-height: 43.88px;
  text-align: center;
  color: white;
}

.swiper__text {
  color: white;
  font-size: 16px;
  font-weight: 400;
  line-height: 19.5px;
  text-align: center;
}

.swiper-button-next, .swiper-button-prev {
  width: 36px !important;
  height: 36px !important;
  border-radius: 50%;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000 !important;
}

.swiper-button-next::after, .swiper-button-prev::after {
  font-size: 10px !important;
}

.hero__form {
  z-index: 9999;
  margin: 0 auto;
  margin-top: -33px;
  position: relative;
  width: 600px;
  display: flex;
  align-items: center;
  justify-content: start;
  background-color: white;
  border-radius: 100px;
  overflow: hidden;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.1490196078);
}

.hero__form-input {
  width: 88%;
  padding: 22px 0;
  padding-left: 30px;
  background-color: transparent;
  outline: none;
  border: none;
  font-size: 18px;
  font-weight: 500;
  line-height: 21.94px;
  color: #555555;
}

.hero__form-btn {
  position: absolute;
  right: 3px;
  width: 58px;
  height: 58px;
  border-radius: 50%;
  background-color: var(--clr-green);
  border: none;
  color: white;
}

@media (max-width: 1053px) {
  .swiper-slide {
    background-position: center;
  }
  .swiper-slide:nth-child(1) {
    background-image: url("../../images/hero-tablet.png");
  }
}
@media (max-width: 730px) {
  .swiper-slide {
    padding-top: 40px;
  }
  .swiper-slide:nth-child(1) {
    background-image: url("../../images/hero-mobile.png");
  }
  .hero__form {
    width: 100%;
  }
  .swiper-pagination {
    display: flex;
    justify-content: center;
    transform: translate(0, -40px) !important;
  }
  .swiper__title {
    font-size: 24px;
    line-height: 29.26px;
  }
}
.dream-section {
  margin-top: 100px;
}

.dream__content {
  max-width: 575px;
  margin: 0 auto;
  text-align: center;
}

.dream-section__title {
  margin-top: 0;
  padding: 0;
  font-size: 36px;
  font-weight: 600;
  line-height: 43.88px;
  color: var(--clr-black);
}

.dream-section__text {
  margin-top: 10px;
  padding: 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: var(--bg-clr-white);
}

.dream__nav {
  max-width: 476px;
  margin: 0 auto;
  margin-top: 40px;
  margin-bottom: 24px;
}

.dream__list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.dream__item-btn {
  border: none;
  outline: none;
  border-radius: 100px;
  background-color: var(--clr-green);
}

.dream__item-btn:hover {
  border-color: var(--clr-black);
  background-color: var(--bg-clr-white);
  color: var(--clr-black);
}

.dream__item-btn:hover {
  border-color: transparent;
  background-color: var(--clr-green);
  color: var(--clr-white);
}

.dream__item-btn {
  background-color: var(--bg-clr-white);
  margin-top: 0;
  padding: 19px 40px;
  font-size: 16px;
  font-weight: 500;
  line-height: 19.5px;
  color: var(--clr-black);
  border: 1.5px solid #E5E7EA;
}

.dream__cards {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.dream__card {
  max-width: 386.6px;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  background-color: var(--clr-gray);
}

.dream__card:hover {
  background-color: var(--clr-green);
}

.dream__card:hover h3 {
  color: var(--clr-white);
}

.dream__card:hover p {
  color: var(--clr-white);
}

.dream__card:hover li {
  color: var(--clr-white);
}

.dream__card-title {
  margin-top: 0;
  padding: 30px 0 0 24px;
  font-size: 24px;
  font-weight: 600;
  line-height: 29.26px;
  color: var(--clr-black);
}

.dream__card-text {
  margin-top: 8px;
  padding: 0 0 0 24px;
  font-size: 16px;
  font-weight: 500;
  line-height: 19.5px;
  color: var(--input-plc-clr);
}

.dream__card-image {
  margin: 16px 0;
  width: 387px;
  height: 220px;
}

.dream__car-features {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
  margin: 0;
  margin-left: 20px;
  padding: 0 24px 30px 24px;
}

.dream-car-feature {
  margin-top: 0;
  padding: 0;
  font-size: 16px;
  font-weight: 500;
  line-height: 19.5px;
  color: var(--clr-black);
  gap: 12px;
  display: flex;
  align-self: center;
}

.button-list-bnt-dream {
  border: none;
  cursor: pointer;
  display: block;
  margin: 0 auto;
  margin-top: 0;
  padding: 18px 30px;
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
  color: var(--bg-clr-white);
  border-radius: 100px;
  color: var(--bg-clr-white);
  margin-bottom: 160px;
  border: 2px solid transparent;
  margin-top: 40px;
}

.button-list-bnt-dream:hover {
  border-color: var(--clr-gray);
  background-color: var(--clr-green);
  color: var(--clr-white);
}

@media (max-width: 1053px) {
  .dream-car-feature {
    gap: 10px;
  }
  .dream__cards {
    gap: 20px;
  }
  .dream-card {
    margin-bottom: 0;
  }
  .dream__card-image {
    padding: 0 24px 0 0;
  }
}
@media (max-width: 730px) {
  .dream-section__title {
    margin-top: 0;
    padding: 0;
    font-size: 24px;
    font-weight: 600;
    line-height: 29.26px;
    color: var(--clr-black);
  }
  .dream-section__text {
    margin-top: 8px;
    padding: 0;
    font-size: 12px;
    font-weight: 400;
    line-height: 14.63px;
    color: var(--input-plc-clr);
  }
  .dream__item-btn {
    margin-top: 0;
    padding: 14px 20px;
    font-size: 14px;
    font-weight: 500;
    line-height: 17.07px;
    color: var(--clr-black);
  }
  .dream__car-features {
    gap: 10px;
  }
  .dream__cards {
    gap: 10px;
  }
  .dream__card {
    margin-bottom: 0;
    width: 358px;
  }
  .dream__card-image {
    padding: 0 24px 0 0;
  }
}
.community {
  padding: 100px 0;
  background-color: #F5F5F5;
}

.community__wrapper {
  display: flex;
  align-items: center;
  border-radius: 20px;
}

.community__text-wrapper {
  background-color: var(--clr-white);
  width: 794px;
  padding: 70px;
  border-radius: 20px 0 0 20px;
}

.community-logo {
  width: 320px;
}

.community__logo-text {
  display: flex;
  align-items: center;
  justify-content: start;
  margin-top: 0;
  padding: 0;
  font-size: 16px;
  font-weight: 500;
  line-height: 19.5px;
  color: #4285F4;
}

.community__logo-text::before {
  content: "";
  background-image: url("./../../images/community-logo.svg");
  background-size: 20px 20px;
  background-repeat: no-repeat;
  padding: 0 8px 0 0;
  width: 20px;
  height: 20px;
  display: inline-block;
}

.community-text {
  width: 320px;
}

.community-title {
  margin-top: 16px;
  padding: 0;
  font-size: 38px;
  font-weight: 500;
  line-height: 50px;
  color: var(--clr-black);
}

.community-text-gradient {
  margin: 30px 0;
  display: block;
  width: 330px;
  height: 2px;
  background: linear-gradient(90deg, #EA4335 19.83%, #FBBC05 65%, #34A853 82.29%, #4285F4 100%);
}

.instagram-title {
  margin-top: 0;
  padding: 0;
  font-size: 14px;
  font-weight: 500;
  line-height: 17.07px;
  color: var(--input-plc-clr);
}

.instagram-btn {
  margin-top: 16px;
  width: 194px;
  height: 58px;
  position: relative;
  display: inline-block;
  background: white; /* Matnning foni */
  cursor: pointer;
  color: transparent; /* Matnni ko'rinmas qilish */
  background-clip: text; /* Matnning orqasiga gradientni qo'llash */
  -webkit-background-clip: text; /* Safari uchun */
  -webkit-text-fill-color: transparent; /* Safari matnni gradientda ko'rsatadi */
  background-image: radial-gradient(230.93% 230.93% at 102.01% 2.03%, #F9ED32 0%, #EE2A7B 36%, #D22A8A 44%, #8B2AB2 60%, #1B2AF0 83%, #002AFF 88%);
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 100px;
  cursor: pointer;
  z-index: 1;
  overflow: hidden; /* Chegaradan tashqaridagi elementlarni yashirish */
}

.instagram-btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  padding: 1.5px; /* Chegaraning qalinligi */
  border-radius: 100px; /* Dumaloq chekkalar */
  background: radial-gradient(230.93% 230.93% at 102.01% 2.03%, #F9ED32 0%, #EE2A7B 36%, #D22A8A 44%, #8B2AB2 60%, #1B2AF0 83%, #002AFF 88%);
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: destination-out;
  mask-composite: exclude;
}

.community__swiper {
  overflow: hidden;
  background-color: var(--clr-green);
  width: 730px;
  height: 479px;
  border-radius: 0 20px 20px 0;
  position: relative;
}

.community__swiper-slide.swiper-slide {
  width: 420px !important;
  height: 333px;
  position: relative;
  background-image: none;
}

.community__swiper-wrapper {
  gap: 20px;
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  padding: 50px 90px;
}

.community__swiper-slide {
  position: relative;
  border-radius: 20px;
  padding: 24px;
  background-color: var(--clr-white);
  width: 420px;
  height: 333px;
}

.community__info-wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 14px;
}

.community-info {
  margin-right: 66px;
  margin-left: 12px;
}

.community-info-title {
  margin-top: 0;
  padding: 0;
  font-size: 16px;
  font-weight: 600;
  line-height: 19.5px;
  color: var(--clr-black);
}

.community-info-link {
  margin-top: 0;
  padding: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 17.07px;
  color: var(--input-plc-clr);
}

.community__swiper-text {
  margin-top: 0;
  padding: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: var(--clr-black);
}

.community-line {
  position: absolute;
  bottom: 68px;
  display: block;
  border: 1.5px solid var(--clr-line);
  width: 372px;
}

.community-stars {
  position: absolute;
  bottom: 24px;
  width: 218px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 24px;
}

.community-stars img {
  width: auto;
}

.community__swiper > .mySwiper {
  width: 390px !important;
}

.swiper-buttons {
  position: absolute;
  top: auto;
  left: auto;
  right: 40px;
  bottom: 40px;
  width: 105px;
}

.swiper-button-next, .swiper-button-prev {
  position: absolute;
  top: auto;
  left: 566px;
  right: auto;
  bottom: 40px;
  width: 36px !important;
  height: 36px !important;
  border-radius: 50%;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000 !important;
}

.swiper-button-prev {
  position: absolute;
  top: auto;
  left: 566px;
  right: auto;
  bottom: 40px;
  width: 36px !important;
  height: 36px !important;
  border-radius: 50%;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000 !important;
}

.swiper-button-next::after, .swiper-button-prev::after {
  font-size: 10px !important;
}

.community__swiper.swiper-button-next {
  left: var(--swiper-navigation-sides-offset);
  right: 88px;
  bottom: 40px;
}

.community__swiper.swiper-button-prev {
  left: var(--swiper-navigation-sides-offset);
  left: none;
  right: 40px;
  bottom: 40px;
}

.community-pagination {
  position: absolute;
  transform: translate(40px, -28px);
}

.community-pagination > .swiper-pagination-bullet {
  transition: all 0.3s !important;
  border-radius: 10px !important;
  background-color: #FFFFFF !important;
  opacity: 50% !important;
  width: 140px !important;
  height: 4px !important;
  margin: 0px !important;
}

.community-pagination > .swiper-pagination-bullet-active {
  opacity: 100% !important;
  height: 4px !important;
  width: 140px !important;
  border-radius: 10px !important;
}

.community-pagination > :nth-child(1) {
  border-radius: 10px 0 0 10px !important;
}

.community-pagination > :nth-child(2) {
  border-radius: 0 !important;
}

.community-pagination > :nth-child(3) {
  border-radius: 0 10px 10px 0 !important;
}

@media (max-width: 1066px) {
  .community {
    padding: 30px 20px;
  }
  .community__wrapper {
    flex-wrap: wrap;
  }
  .community__text-wrapper {
    width: 794px;
    padding: 24px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 20px 20px 0 0;
  }
  .community-logo {
    width: 320px;
  }
  .community-text {
    width: 275px;
  }
  .community-title {
    margin-top: 16px;
    padding: 0;
    font-size: 24px;
    font-weight: 500;
    line-height: 36px;
    color: var(--clr-black);
  }
  .community-text-gradient {
    width: 104px;
    height: 2px;
    transform: rotate(90deg);
  }
  .community__swiper {
    width: 794px;
    border-radius: 0 0 20px 20px;
  }
  .community__swiper-wrapper {
    padding: 30px 24px;
  }
}
@media (max-width: 841px) {
  .community-pagination {
    width: 280px;
    height: 15px;
  }
  .community__text-wrapper {
    width: 358px;
    display: flex;
    flex-direction: column;
    padding: 24px 20px;
  }
  .community-text-gradient {
    transform: rotate(0deg);
    width: 318px;
    height: 2px;
  }
  .community__swiper {
    width: 358px;
  }
  .community__swiper-wrapper {
    width: 326px !important;
  }
  .community__swiper-slide.swiper-slide {
    padding: 16px;
    width: 326px !important;
    height: 380px !important;
  }
  .swiper-buttons {
    display: none;
  }
  .community-line {
    width: 294px;
  }
  .swiper-pagination-bullet:nth-child(2) {
    display: none;
  }
  .community__swiper > .mySwiper {
    width: 350px !important;
  }
  .community-info {
    margin-right: 12px;
    margin-left: 12px;
  }
}
.brands-section {
  padding-top: 160px;
  padding-bottom: 160px;
}

.brands-title {
  margin-top: 0;
  padding: 0;
  font-size: 24px;
  font-weight: 500;
  line-height: 29.26px;
  color: var(--clr-black);
}

.brands-wrapper {
  max-width: 1170px;
}

.brands__list {
  margin-top: 34px;
  display: flex;
  align-items: center;
  gap: 66px;
}

@media (max-width: 1053px) {
  .brands-section {
    padding-top: 120px;
    padding-bottom: 120px;
  }
}
@media (max-width: 730px) {
  .brands-title {
    margin-top: 0;
    padding: 0;
    font-size: 20px;
    font-weight: 500;
    line-height: 24.38px;
    color: var(--clr-black);
  }
  .brands__list {
    margin-top: 24px;
  }
}
.service__main {
  padding: 0 20px 160px 20px;
}

.service__content-top {
  margin: 0 auto;
  max-width: 648px;
  text-align: center;
}

.service__top-title {
  margin-top: 0;
  padding: 0;
  font-size: 36px;
  font-weight: 600;
  line-height: 43.88px;
  color: var(--clr-black);
}

.service__top-text {
  margin-top: 10px;
  padding: 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: var(--input-plc-clr);
}

.service__card-wrapper {
  margin-top: 40px;
  gap: 20px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}

.service__card {
  max-width: 426px;
  position: relative;
  max-width: 590px;
  padding: 40px 40px 40px 32px;
  border-radius: 20px;
  background-color: var(--clr-gray);
}

.service__card-content {
  max-width: 354px;
  text-align: start;
}

.service__card-title {
  margin-top: 0;
  padding: 0;
  font-size: 32px;
  font-weight: 500;
  line-height: 39.01px;
  color: var(--clr-black);
}

.service__card-text {
  margin-top: 10px;
  padding: 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: var(--input-plc-clr);
}

.service__card-logo {
  position: absolute;
  top: 40px;
  right: 40px;
}

.service__footer {
  border: 1.5px solid var(--clr-line);
  border-radius: 20px;
  padding: 40px 32px;
  background-image: url("./../../images/services_footer.jpg");
  background-position: bottom right;
  background-repeat: no-repeat;
  background-size: 386px 472px;
  background-position-x: 92%;
}

.services__footer-wrapper {
  width: 100%;
  max-width: 590px;
}

.service__footer-content {
  width: 466px;
}

.services__footer-title {
  margin-top: 0;
  padding: 0;
  font-size: 36px;
  font-weight: 600;
  line-height: 43.88px;
  color: var(--clr-black);
}

.services__footer-text {
  margin-top: 10px;
  padding: 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: var(--input-plc-clr);
}

.service__footer-list {
  margin-top: 94px;
  gap: 10px;
  display: flex;
  align-items: center;
  justify-content: none;
  align-items: normal;
}

.service__footer-item {
  border-radius: 16px;
  background-color: var(--clr-gray);
  position: relative;
  width: 200px;
}

.service-footer_item-text {
  margin-top: 0;
  padding: 0;
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  color: var(--clr-black);
}

.padding-item {
  padding-top: 22px;
}

.service__footer-image {
  position: absolute;
  top: 20px;
  right: 20px;
}

.service__footer-item:nth-child(1) {
  padding: 80px 15px 15px 15px;
}

.service__footer-item:nth-child(2) {
  padding: 79px 15px 15px 15px;
}

.service__footer-item:nth-child(3) {
  padding: 88px 15px 15px 15px;
}

@media (max-width: 1053px) {
  .service__main {
    padding-bottom: 120px;
  }
  .service__card-wrapper {
    margin-top: 30px;
  }
  .service__card {
    padding: 30px 19px 30px 24px;
    max-width: 387px;
  }
  .service__card-logo {
    top: 30px;
    right: 30px;
  }
  .service__card-title {
    width: 278px;
    height: 165px;
    margin-top: 0;
    padding: 0;
    font-size: 32px;
    font-weight: 500;
    line-height: 39.01px;
    color: var(--clr-black);
  }
  .service__card-text {
    margin-top: 10px;
    padding: 0;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: var(--input-plc-clr);
  }
  .service__card > .service__card-content:nth-child(3) {
    width: 364px;
  }
  .service__footer {
    border: 1.5px solid var(--clr-line);
    border-radius: 20px;
    background-image: url(./../../images/services_footer.jpg);
    background-position: bottom right;
    background-repeat: no-repeat;
    background-size: 284px 367px;
    background-position-x: 100%;
    padding: 24px 30px;
  }
  .services__footer-wrapper {
    width: 466px;
  }
  .service__footer-list {
    margin-top: 35px;
    gap: 8PX;
  }
  .service-footer_item-text {
    margin-top: 0;
    padding: 0;
    font-size: 14px;
    font-weight: 500;
    line-height: 22px;
    color: black;
  }
  .service__footer-item {
    width: 140px;
  }
  .service__footer-item:nth-child(1) {
    padding: 74px 10px 8px 10px;
  }
  .service__footer-item:nth-child(2) {
    padding: 90px 10px 14px 10px;
  }
  .service__footer-item:nth-child(3) {
    padding: 79px 10px 14px 10px;
  }
  .services__footer-wrapper {
    width: 100%;
    max-width: 447px;
  }
  .service__footer-content {
    width: 466px;
  }
  .service-footer_item-text {
    margin-top: 0;
    padding: 0;
    font-size: 14px;
    font-weight: 500;
    line-height: 22px;
    color: var(--clr-black);
  }
}
@media (max-width: 776px) {
  .service__footer {
    background-image: url("./../../images/Ellipse.svg");
    background-position: top right;
    background-repeat: no-repeat;
    background-size: 160px 160px;
  }
  .service__footer-list {
    flex-wrap: wrap;
  }
  .service__footer-item {
    width: 100%;
    max-width: 316px;
  }
  .service__main {
    padding-bottom: 100px;
  }
  .service__top-title {
    margin-top: 0;
    padding: 0;
    font-size: 28px;
    font-weight: 600;
    line-height: 34.13px;
    color: var(--clr-black);
  }
  .service__top-text {
    margin-top: 6px;
    padding: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: var(--input-plc-clr);
  }
  .service__card {
    max-width: 358px;
    width: 100%;
  }
  .service__card-text {
    margin-top: 10px;
    padding: 0;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: var(--input-plc-clr);
  }
  .service__card-title {
    width: 244px;
  }
  .services__footer-wrapper {
    width: 400px;
  }
  .service__footer-item {
    width: 318px;
  }
  .service__footer-item:nth-child(1) {
    padding: 70px 6px 14px 14px;
  }
  .service__footer-item:nth-child(2) {
    padding: 70px 15px 14px 14px;
  }
  .service__footer-item:nth-child(3) {
    padding: 48px 15px 14px 14px;
  }
  .services__footer-wrapper {
    width: 100%;
    max-width: 321px;
  }
  .service-footer_item-text {
    margin-top: 0;
    padding: 0;
    font-size: 14px;
    font-weight: 500;
    line-height: 22px;
    color: var(--clr-black);
  }
  .services__footer-title {
    margin-top: 0;
    padding: 0;
    font-size: 24px;
    font-weight: 600;
    line-height: 29.26px;
    color: black;
  }
  .services__footer-text {
    margin-top: 0;
    padding: 0;
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    color: black;
  }
}
.footer {
  position: relative;
  padding: 40px 20px;
  display: flex;
  align-items: start;
  justify-content: space-between;
}

.footer_left-top {
  max-width: 240px;
}

.footer_left-title {
  margin-top: 20px;
  padding: 0;
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
  color: var(--input-plc-clr);
}

.footer__left-bottom {
  padding-right: 153px;
  margin-top: 84px;
  padding: 0 153px 0 0;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  color: var(--clr-black);
}

.footer-right-wrapper {
  width: 100%;
  max-width: 895px;
  padding-top: 24px;
}

.footer-right-top {
  max-width: 814px;
  display: flex;
  justify-content: space-between;
}

.footer-right__top-title {
  margin-top: 0;
  padding: 0;
  font-size: 16px;
  font-weight: 500;
  line-height: 19.5px;
  color: var(--clr-black);
}

.footer-right__top-list {
  margin-top: 16px;
}

.footer-right__top-item:not(:first-child) {
  margin-top: 12px;
}

.footer-right__top-link {
  margin-top: 0;
  padding: 0;
  font-size: 14px;
  font-weight: 500;
  line-height: 17.07px;
  color: var(--input-plc-clr);
}

.footer-line {
  display: block;
  margin-top: 40px;
  margin-bottom: 40px;
  max-width: 895px;
  border: 1.5px solid var(--clr-line);
}

.footer-right-bottom {
  max-width: 612px;
  display: flex;
  justify-content: space-between;
}

.footer-right__bottom-list {
  margin-top: 16px;
}

.footer-right__bottom-title {
  margin-top: 0;
  padding: 0;
  font-size: 16px;
  font-weight: 500;
  line-height: 19.5px;
  color: var(--clr-black);
}

.footer-flex {
  margin-top: 22px;
  display: flex;
  align-items: center;
  gap: 15px;
}

.footer-right__bottom-link {
  margin-top: 0;
  padding: 0;
  font-size: 14px;
  font-weight: 500;
  line-height: 17.07px;
  color: var(--input-plc-clr);
}

.footer-right__bottom-item:not(:first-child) {
  margin-top: 12px;
}

.top-btn-slider {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  right: 120px;
  bottom: 40px;
  border-radius: 100px;
  background-color: var(--clr-green);
  max-width: 70px;
  height: 70px;
  border: none;
}

@media (max-width: 1055px) {
  .footer {
    flex-direction: column;
  }
  .footer-left-wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .footer-left-bottom {
    width: 128px;
  }
  .footer-right-top {
    width: 100%;
  }
  .footer__left-bottom {
    width: 157px;
    margin: 0;
    padding: 0;
  }
}/*# sourceMappingURL=main.css.map */