<<<<<<< HEAD


.container{
    width: 1240px;
    margin: 0 auto;
    padding-inline:  0 20px;
=======}
.container{
    width: 1240px;
    margin: 0 auto;
    padding: 0 20px;
>>>>>>> d2ebc05dd9f0b6e366af7e9b97f37dbb6bf9b95c
}