*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
<<<<<<< HEAD

body{
    font-family: "Montserrat", serif;
=======
body{
    font-family: "Montserrat",sans-serif;
>>>>>>> d2ebc05dd9f0b6e366af7e9b97f37dbb6bf9b95c
}