
@mixin Display($space){
    display: flex;
    align-items: center;
    justify-content: $space;
}

@mixin TextStyle($marginTop: 0,$padding: 0,$fontSize: 16px,$fontWeight: 400,$lineHeight: 1.5,$color: black) {
    margin-top: $marginTop;
    padding: $padding;
    font-size: $fontSize;
    font-weight: $fontWeight;
    line-height: $lineHeight;
    color: $color;
}

@mixin Position($status,$top:auto,$left:auto, $right:auto, $bottom:auto) {
    position: $status;
    top: $top;
    left: $left;
    right: $right;
    bottom: $bottom;
}



@mixin Background($url, $position, $bg-repeat, $size) {
    background-image:url($url);
    background-position: $position;
    background-repeat: $bg-repeat;
    background-size: $size;
}

  
  