.brands-section {
    padding-top: 160px;
    padding-bottom: 160px;
}
.brands-title{
    @include TextStyle($fontSize:24px,$fontWeight:500,$lineHeight:29.26px,$color:var(--clr-black));
}
.brands-wrapper {
    max-width: 1170px;
}
.brands__list {
    margin-top: 34px;
    display: flex;
    align-items: center;
    gap: 66px;
}
@media (max-width:1053px){
    .brands-section{
        padding-top: 120px;
        padding-bottom: 120px;
    }
    .brands-wrapper{
        text-align: center;
    }
}
@media (max-width:730px){
    .brands-title{
        @include TextStyle($fontSize:20px,$fontWeight:500,$lineHeight:24.38px,$color:var(--clr-black));
    }
    .brands-wrapper{
        text-align: center;
    }
    .brands__list{
        margin-top: 24px;
    }
}
    