.footer{
    position: relative;
    padding: 40px 20px;
    display: flex;
    align-items: start;
    justify-content: space-between;
}
.footer_left-top {
    max-width: 240px;
}
.footer_left-title {
    @include TextStyle($marginTop:20px,$fontSize:12px,$fontWeight:400,$lineHeight:20px,$color:var(--input-plc-clr));
}
.footer__left-bottom {
    padding-right: 153px;
    @include TextStyle($marginTop:84px,$padding:0 153px 0 0,$fontSize:16px,$fontWeight:500,$lineHeight:24px,$color:var(--clr-black));
}
.footer-right-wrapper {
    width: 100%;
    max-width: 895px;
    padding-top: 24px;
}
.footer-right-top {
    max-width: 814px;
    display: flex;
    justify-content: space-between;
}
.footer-right__top-title {
    @include TextStyle($fontSize:16px,$fontWeight:500,$lineHeight:19.5px,$color:var(--clr-black));
}
.footer-right__top-list {
    margin-top: 16px;
}
.footer-right__top-item:not(:first-child){
    margin-top: 12px;
}
.footer-right__top-link {
    @include TextStyle($fontSize:14px,$fontWeight:500,$lineHeight:17.07px,$color:var(--input-plc-clr))
}
.footer-line {
    display: block;
    margin-top: 40px;
    margin-bottom: 40px;
    max-width: 895px;
    border: 1.5px solid var(--clr-line);
}
.footer-right-bottom {
    max-width: 612px;
    display: flex;
    justify-content: space-between;
}
.footer-right__bottom-list{
    margin-top: 16px;
}
.footer-right__bottom-title {
    @include TextStyle($fontSize:16px,$fontWeight:500,$lineHeight:19.5px,$color:var(--clr-black))
}
.footer-flex{
    margin-top: 22px;
    display: flex;
    align-items: center;
    gap: 15px;
}
.footer-right__bottom-link {
    @include TextStyle($fontSize:14px,$fontWeight:500,$lineHeight:17.07px,$color:var(--input-plc-clr))
}
.footer-right__bottom-item:not(:first-child){
    margin-top: 12px;
}

.top-btn-slider{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    right: 120px;
    bottom: 40px;
    border-radius: 100px;
    background-color: var(--clr-green);
    max-width: 70px;
    height: 70px;
    border: none;
}
@media (max-width:1055px){
    .footer{
        flex-direction: column;
    }
    .footer-left-wrapper{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .footer-left-bottom{
        width: 128px;
    }
    .footer-right-top{
        width: 100%;
    }
    .footer__left-bottom{
        width: 157px;
        margin: 0;
        padding: 0;
    }
}

