.service__main{
    margin: 160px 0;
}
.service__content-top {
    margin: 0 auto;
    max-width: 648px;
    text-align: center;
}
.service__top-title {
    @include TextStyle($fontSize:36px, $fontWeight:600,$lineHeight:43.88px,$color:var(--clr-black));

}
.service__top-text{
    @include TextStyle($fontSize:16px, $fontWeight:400,$lineHeight:24px,$color:var(--input-plc-clr),$marginTop:10px);
}
.service__card-wrapper {
    margin-top: 40px;
    gap: 20px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}
.service__card{
    width: 100%;
    position: relative;
    max-width: 590px;
    padding: 40px 40px 40px 32px;
    border-radius: 20px;
    background-color: var(--clr-gray);
}
.service__card-content{
    max-width: 354px;
    text-align: start;
}
.service__card-title {
    @include TextStyle($fontSize:32px,$fontWeight:500,$lineHeight:39.01px,$color:var(--clr-black))
}
.service__card-text {
    @include TextStyle($marginTop:10px,$fontSize:16px,$fontWeight:400,$lineHeight:24px,$color:var(--input-plc-clr));
}
.service__card-logo {
    position: absolute;
    top: 40px;
    right: 40px;
}

.service__footer {
    border: 1.5px solid var(--clr-line);
    border-radius: 20px;
    padding: 40px 32px;
    @include Background($url:"./../../images/services_footer.jpg",$position:bottom right,$bg-repeat:no-repeat,$size:386px 472px);
    background-position-x:92% ;
}
.services__footer-wrapper {
    max-width: 100%;
    max-width: 590px;
}
.services__footer-title {
    @include TextStyle($fontSize:36px,$fontWeight:600,$lineHeight:43.88px,$color:var(--clr-black))
}
.services__footer-text {
    @include TextStyle($marginTop:10px,$fontSize:16px,$fontWeight:400,$lineHeight:24px,$color:var(--input-plc-clr))
}
.service__footer-list {
    margin-top: 94px;
    gap: 10px;
    @include Display($space:none);
}
.service__footer-item {
    padding: 15px;
    padding-top: 79px;
    border-radius:16px;
    background-color: var(--clr-gray);
    position: relative;
    max-width: 200px;
}
.service-footer_item-text {
    @include TextStyle($fontSize:16px,$fontWeight:500,$lineHeight:22px,$color:var(--clr-black));
}
.padding-item{
    padding-top: 22px
}
.service__footer-image{
    position: absolute;
    top: 20px;
    right:20px;
}
@media (max-width:1053px){
    
    .service__main{
        margin: 120px 0;
    }
    .service__card-wrapper{
        margin-top: 30px;
    }
    .service__card{
        padding: 30px 0 30px 24px;
        max-width: 387px;
    }
    .service__card-title {
        width: 252px;
        @include TextStyle($fontSize:32px,$fontWeight:500,$lineHeight:39.01px,$color:var(--clr-black))
    }
    .service__card-text {
        @include TextStyle($marginTop:10px,$fontSize:16px,$fontWeight:400,$lineHeight:24px,$color:var(--input-plc-clr));
    }
}
@media (max-width:730px){
    .service__main{
        margin: 100px 0;
    }
    .service__top-title{
      
        @include TextStyle($fontSize:28px, $fontWeight:600,$lineHeight:34.13px,$color:var(--clr-black));
    }
    .service__top-text{
        @include TextStyle($marginTop:6px,$fontSize:14px, $fontWeight:400,$lineHeight:20px,$color:var(--input-plc-clr));
    }
    .service__card{
        max-width: 358px;
        width: 100%;
    }
    .service__card-text {
        @include TextStyle($marginTop:10px,$fontSize:16px,$fontWeight:400,$lineHeight:24px,$color:var(--input-plc-clr));
    }
    .service__card-title{
        width: 244px;
    }
}